<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4>Welcome Register Page</h4>

    Username : <input type="text" [(ngModel)]="username" /><br />
    Password : <input type="password" [(ngModel)]="password" /><br />
    Confirm Password : <input type="password" [(ngModel)]="confirmPassword"><br />
    Gender :
    <input type="radio" [(ngModel)]="gender" value="Male">Male
    <input type="radio" [(ngModel)]="gender" value="Fe-Male">Fe-Male <br />
    
    Country:
    <select [(ngModel)]="country">
      <option>-Select-</option>
      <option>India</option>
      <option>USA</option>
      <option>UK</option>
    </select> <br /><br />

    <input type="submit" value="Register" (click)="RegisterClick()" class="btn btn-primary" />
    <br />
    
    <div class="alert alert-success" role="alert">{{msg}}

  </div>
</div>



